
@{
    ViewBag.Title = "FundRaisingEvents";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Fund Raising Events</h2>

<p>

    The Lincoln-Way North Music Boosters conduct various fundraising events throughout the year to help offset
     the cost of all the department's activities. In addition, all four Lincoln-Way high schools jointly 
    conduct the annual <b>SIAM</b> (Supporters In Area Music) discount card sale in August. If have you any questions 
    regarding fundraising events, please contact the @Html.ActionLink("Music Boosters","ContactBoosters","Contacts").

</p>
<ul>
    <li>Summer Car Wash</li>
    <li>Fish Fry</li>
    <li>Holiday Pie Sale</li>
    <li>Spiritwear</li>
    <li>Scrip Card Program</li>
    <li>Cheesecake Sale</li>
    <li>Evergreen Sale</li>
    <li>Full Mum Sale</li>
    <li>Spring Flower Sale</li>
    <li>Princess Party</li>

</ul>
