@model IEnumerable<LWNMB.Domain.FundRaiser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<center>
    <h2>Lincoln-Way North Music Booster Fundraisers</h2>
</center>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

       


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="#" @Html.DisplayFor(modelItem => item.Name) />
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
            
    </tr>
}

</table>
