<section class="margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">

                <div class="content-box box-default animated fadeInUp animation-delay-10">
                    <img src="~/Content/Images/MarchingPhoenix.jpg" style="max-height:100%;max-width:100%" />
                    <h4 class="content-box-title">Marching Band</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="content-box box-default animated fadeInUp animation-delay-14">
                    <img src="~/Content/Images/Madrigals2.png" style="max-height:100%;max-width:100%" />
                    <h4 class="content-box-title">Madrigals</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="content-box box-default animated fadeInUp animation-delay-16">
                    <img src="~/Content/Images/Jazzband2.JPG" style="max-height:100%;max-width:100%" />
                    <h4 class="content-box-title">Jazz Band</h4>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="content-box box-default animated fadeInUp animation-delay-12">
                    <img src="~/Content/Images/Choir2.JPG" style="max-height:100%;max-width:100%" />
                    <h4 class="content-box-title">Choir</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="content-box box-default animated fadeInUp animation-delay-12">
                    <img src="~/Content/Images/colorguard.jpg" style="max-height:100%;max-width:100%" />
                    <h4 class="content-box-title">Color Guard</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="content-box box-default animated fadeInUp animation-delay-12">
                    <img src="~/Content/Images/orchestra.jpg" style="max-height:100%;max-width:100%" />
                    <h4 class="content-box-title">Orchestra</h4>
                </div>
            </div>



        </div>
    </div>
</section>
