@{
    ViewBag.Title = "Constitution";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<center>
    <h2>Music Booster - Committees</h2>
</center>




<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <td><b>Committee</b></td>
            <td>Name</td>
            <td>Phone Number</td>
            <td>Email</td>
        
        </tr>
    </thead>

    <tr>
        <td><b>Scrip Cards</b></td>
        <td>Rebecca Eisel</td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td><b>SIAM</b></td>
        <td>Ed Stanuch</td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td><b>Spirit Wear</b></td>
        <td>Beth Steck</td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td><b>Tuxes and Gowns</b></td>
        <td>Eileen Maylone</td>
        <td></td>
        <td></td>

    </tr>

</table>


