@{
    ViewBag.Title = "Constitution";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<center>
<h2>2014-15 Music Booster - Executive Board</h2>
</center>


<center>
    <div class="row">
        <div class="col-md-4">
            <b>President</b>
            <p>Cyndi Pijarowski</p>
        </div>
        <div class="col-md-4">
            <b>Treasurer</b>
            <p>Beth Steck</p>
        </div>
        <div class="col-md-4">
            <b>Ways-Means</b>
            <p>Trudy Sturino</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <b>President - Elect</b>
            <p>Tom Delegatto</p>
        </div>
        <div class="col-md-4">
            <b>Treasurer - Elect</b>
            <p>Beth McGillivray</p>
        </div>
        <div class="col-md-4">
            <b>Ways-Means - Elect</b>
            <p>MaryLou Weaver</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <b>Secretary</b>
            <p>Patty Villasenor</p>
        </div>
        <div class="col-md-4">
            <b>Communications</b>
            <p>Mary Beth Perros</p>
        </div>
        @*<div class="col-md-4">
                <b>Ways-Means - Elect</b>
                <p>MaryLou Weaver</p>
            </div>*@
    </div>
</center>