
@{
    ViewBag.Title = "Membership";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3>Music Booster - Membership</h3>

<p>Anyone interested in the progress of the Lincoln Way North Music program is eligible for membership in the Music Booster organization. All parents/guardians of current students in any of the department's music programs are considered as active
members of the boosters. </p>


<p>Membership Dues:  $30.00</p>

<p>Paid membership entitles members to additional privileges offered through the
Music Boosters organization  Dues paid by the membership are deposited into a scholarship fund distributed to students annually.</p>

<p>To join the Music Boosters,  please fill out and submit the @Html.ActionLink("Music Booster Membership Form", "getPdf", "Document", new { filename="BoosterMembershipForm.pdf" },null).</p>

<h2>THANK YOU FOR YOUR SUPPORT!</h2>