
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}






<center>
 <img src="~/Content/Images/MilesForMusic.JPG" class="img-responsive" />
    <br />
    <h2><b><a href="https://www.signmeup.com/site/online-event-registration/107406">Sign Up Here</a></b></h2>
</center>